BOT_TOKEN=123456789:your_real_token_from_botfather
MAX_BOT_TOKEN=
GALINA_CHAT_ID=123456789
GALINA_TELEGRAM_LINK=https://t.me/your_username
GALINA_CHANNEL_LINK=https://t.me/galoAPL
OFFICIAL_SITE=https://ru.aplgo.com/ru/
MY_SITE=https://orlovaapl.vercel.app/
SHOP_CATALOG=https://aplshop.com/j/534361/catalog/
